@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>认证</PageTitle>

<h1>认证通过</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
